<!-- templates/entry.html -->
<!DOCTYPE html>
<html>

<head>
  <title>Py Channel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Py Channel</a>
    </div>
  </nav>
  <div class="container mb-4">
    <form id="entry-form">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content"></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Name</label>
        <input type="text" class="form-control" id="user_name" name="user_name">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="nav justify-content-center">
    {% for entry in entries %}
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">{{ entry.title }}</h5>
        <p class="card-text">{{ entry.content }}</p>
        <div class="row row-cols-lg-auto g-3 float-end">
          <div class="col-12">
            <p class="card-text"><small class="text-muted">{{ entry.user_name }} - {{ entry.created_at }}</small></p>
          </div>
          <div class="col-12">
            <i class="fa-solid fa-trash" name="delete" id="{{ entry.id }}" onclick="deleteEntry()"></i>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>
<script>
  const form = document.getElementById('entry-form');
  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    const title = document.getElementById('title').value;
    const content = document.getElementById('content').value;
    const user_name = document.getElementById('user_name').value;
    const response = await axios.post('/entry', {
      title,
      content,
      user_name
    });
    if (response.status === 200) {
      window.location.reload();
    }
  });
  
  function deleteEntry() {
    const id = event.target.id;
    axios.delete(`/entry/${id}`).then((response) => {
      if (response.status === 200) {
        window.location.reload();
      }
    });
  }
</script>

</html>
